{% extends "learning_logs/base.html" %}

{% block title %}Add New Topic{% endblock %}

{% block content %}
<div class="container">
    <h2 class="mt-4 text-primary">Add a New Topic</h2>

    <form method="post" class="mt-4">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-success">Add Topic</button>
        <a href="{% url 'learning_logs:topics' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}



