{% extends "learning_logs/base.html" %}

{% block title %}Welcome to Learning Log{% endblock %}

{% block content %}
<div class="container text-center">
    <h1 class="mt-4 text-primary">Welcome to the Learning Log!</h1>

    <div class="mt-4">
        <a href="{% url 'users:login' %}" class="btn btn-primary btn-lg mx-2">Login</a>
        <a href="{% url 'users:register' %}" class="btn btn-success btn-lg mx-2">Register</a>
        <a href="{% url 'users:logout' %}" class="btn btn-danger btn-lg mx-2">Logout</a>
    </div>
</div>
{% endblock %}

